@model IEnumerable<uHome.Models.ListEnrollmentViewModel>

<p>
    @Model.Count() @Resources.Joined
</p>

<div class="container">

    <div class="row">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.FullName)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Country)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.EnrollAt)
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-1">
                @Html.ActionLink(item.FullName, "Details", "Enrollments", new { id = item.ID }, null)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Country)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.City)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.EnrollAt)
            </div>
        </div>
    }

</div>
