@model IEnumerable<uHome.Models.RoleViewModel>

@{
    ViewBag.Title = Resources.RoleAdmin;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,  new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleName }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.RoleName }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
