<li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
<li>@Html.ActionLink(Resources.About, "About", "Home")</li>
<li>@Html.ActionLink(Resources.RoleAdmin, "Index", "Roles")</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resources.UserAdmin <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink(Resources.UserAdmin, "Index", "Account")</li>
        <li>@Html.ActionLink(Resources.AddManager, "AddManager", "Account")</li>
        <li>@Html.ActionLink(Resources.AddStaff, "AddStaff", "Account")</li>
    </ul>
</li>
<li>@Html.ActionLink(Resources.Video, "List", "VideoClips")</li>
<li>@Html.ActionLink(Resources.Case, "List", "Cases")</li>
<li>@Html.ActionLink(Resources.DownloadItem, "List", "DownloadItems")</li>