@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (ViewBag.EmailConfirmed)
            {
                <a href="/Manage">@User.Identity.GetUserName()</a>
            }
            else
            {
                <a href="/Manage">
                    <span class="glyphicon glyphicon-exclamation-sign" title="@Resources.CheckEmailToConfirm"></span>
                    @User.Identity.GetUserName()
                </a>
            }
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
            <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Register, "RegisterPortal", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.LogOn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
