<li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
<li>@Html.ActionLink(Resources.About, "About", "Home")</li>
<li>@Html.ActionLink(Resources.Case, "List", "Cases")</li>
<li>@Html.ActionLink(Resources.Video, "Index", "VideoClips")</li>
<li>@Html.ActionLink(Resources.DownloadItem, "Index", "DownloadItems")</li>