<ul class="case-columns">
    @foreach (var caseGroup in Model)
    {
        <li class="case-column">
            <div class="panel-heading">
                @Resources.ResourceManager.GetString(caseGroup.State.ToString(), Resources.Culture) (@caseGroup.Count)
            </div>
            <div>
                @foreach (var caseItem in caseGroup.Cases)
                {
                    <div class="case-container">
                        <div class="case-title">
                            @Html.ActionLink((string)caseItem.Title, "AdminEdit", new { id = caseItem.ID })
                        </div>
                        <div class="case-description" title="@caseItem.Description">@caseItem.Description</div>
                    </div>
                }
            </div>
        </li>
    }
</ul>
