<div class="row">
@foreach (var caseGroup in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@Resources.ResourceManager.GetString(caseGroup.State.ToString(), Resources.Culture) (@caseGroup.Count)</h3>
            </div>
            <div class="panel-body">
            @foreach (var caseItem in caseGroup.Cases)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            @Html.ActionLink((string)caseItem.Title, (string)ViewData["Action"], new { id = caseItem.ID })
                            <small>by @caseItem.CreatedBy | </small>
                            <small>to @caseItem.Assignee</small>
                        </h5>
                    </div>
                    <div class="panel-body" title="@caseItem.Description">@caseItem.DescriptionThumb</div>
                </div>
            }
            </div>
        </div>
    </div>
}
</div>
