@model uHome.Models.EditCaseViewModel

@{
    ViewBag.Title = "Edit";
}

<h4>@Model.Title</h4>

<div class="container">
    <div class="row col-md-8">
        <hr />
        <dl>
            <dt>Description</dt>
            <dd class="well well-lg"
                >@Model.Description</dd>
            <dt>Attachments</dt>
            <dd>
                <table class="table table-bordered table-hover" id="attachment_table">
                    <tr>
                        <th>File Name</th>
                        <th>Upload At</th>
                        <th>File Size</th>
                    </tr>
                    @foreach (var attachment in Model.Attachments)
                    {
                        <tr>
                            <td>@Html.ActionLink(attachment.Name, "Download", "Attachments", new { id = attachment.ID }, null)</td>
                            <td>@attachment.UploadAt</td>
                            <td>@attachment.Size</td>
                        </tr>
                    }
                </table>
            </dd>
            <dd>
                <span id="file_upload" />
            </dd>
        </dl>
    </div>
    <div class="row col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>Created By</dt>
            <dd>@Model.CreatedBy</dd>
            <dt>Created At</dt>
            <dd>@Model.CreatedAt</dd>
            <dt>Updated At</dt>
            <dd>@Model.UpdatedAt</dd>
            <dt>State</dt>
            <dd>@Model.State</dd>
            <dt>Assignee</dt>
            <dd>@Model.Assignee</dd>
        </dl>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/uploadify")

    <script type="text/javascript">
    $(document).ready(function () {
        $('#file_upload').uploadify({
            'buttonClass': "btn btn-info btn-xs",
            'buttonText': "Select files",
            'fileSizeLimit': "10MB",
            'fileTypeExts': "*.doc; *.docx; *.xls; *.xlsx; *.pdf; *.jpg; *.gif; *.png",
            'swf': "@Url.Content("~/Content/Images/uploadify.swf")",
            'cancelImg': "@Url.Content("~/Content/Images/uploadify-cancel.png")",
            'uploader': "@Url.Action("AddFile", "Cases", new { id = ViewBag.CaseId })",
                'onUploadSuccess': function (file, data, response) {
                    var data = $.parseJSON(data);
                    var link = "<a href=\"/Attachments/Downlaod/" + data.id + "\">" + data.name + "</a>";
                    $('#attachment_table').append("<tr>" +
                            "<td>" + link + "</td>" +
                            "<td>" + data.uploadAt + "</td>" +
                            "<td>" + data.size + "</td>" +
                    "</tr>");
            }
        });
    });
    </script>
}
