@model uHome.Models.EditCaseViewModel

@{
    ViewBag.Title = "Edit";
}
<h4>@Model.Title</h4>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <hr />
            <dl>
                <dt>Description</dt>
                <dd class="well well-lg">@Model.Description</dd>
                <dt>Attachments</dt>
                <dd>
                    <div class="container" id="attachments">
                        <div class="row">
                            <div class="col-md-6">Name</div>
                            <div class="col-md-3">Upload At</div>
                            <div class="col-md-3">Size</div>
                        </div>
                        @foreach (var attachment in Model.Attachments)
                        {
                            <div class="row" id="attachment_@attachment.ID">
                                <div class="col-md-6">@Html.ActionLink(attachment.Name, "Download", "Attachments", new { id = attachment.ID }, null)</div>
                                <div class="col-md-3">@attachment.UploadAt</div>
                                <div class="col-md-2">@attachment.Size</div>
                                <div class="col-md-1">
                                    @Ajax.RawActionLink(
                                    "<span class=\"glyphicon glyphicon-trash\"></span>",
                                    "Delete",
                                    "Attachments",
                                    new { id = attachment.ID },
                                    new AjaxOptions
                                    {
                                        Confirm = string.Format("Are you sure you want ot delete {0}?", attachment.Name),
                                        OnBegin = "showSpinner",
                                        OnComplete = "hideSpinner",
                                        OnSuccess = "onAttachmentDeleteSuccess",
                                        OnFailure = "onAttachmentDeleteFailure",
                                        HttpMethod = "DELETE"
                                    }, null)
                                </div>
                            </div>
                        }
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <hr />
            <dl class="dl-horizontal">
                <dt>Created By</dt>
                <dd>@Model.CreatedBy</dd>
                <dt>Created At</dt>
                <dd>@Model.CreatedAt</dd>
                <dt>Updated At</dt>
                <dd>@Model.UpdatedAt</dd>
                <dt>State</dt>
                <dd>@Model.State</dd>
                <dt>Assignee</dt>
                <dd>@Model.Assignee</dd>
                <dd>
                    <span id="file_upload" />
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/uploadify")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#file_upload').uploadify({
                'buttonClass': "btn btn-info btn-xs",
                'buttonText': "Add attachments",
                'fileSizeLimit': "10MB",
                'fileTypeExts': "*.doc; *.docx; *.xls; *.xlsx; *.pdf; *.jpg; *.gif; *.png",
                'swf': "@Url.Content("~/Content/Images/uploadify.swf")",
                'cancelImg': "@Url.Content("~/Content/Images/uploadify-cancel.png")",
                'uploader': "@Url.Action("AddFile", "Cases", new { id = ViewBag.CaseId })",
                'onUploadSuccess': function (file, data, response) {
                    var data = $.parseJSON(data);
                    if (data.success)
                    {
                        console.log(data);
                        $('#attachments').append(data.newAttachment);
                    }
                    else
                    {
                        alert(data.errMsg);
                    }
                }
            });
        });

        function onAttachmentDeleteSuccess(response)
        {
            if (response.success)
            {
                var id = "#attachment_" + response.id;
                $(id).remove();
            }
            else {
                alert(response.error);
            }
        }
    </script>
}
