@model uHome.Models.EditCaseViewModel

@{
    ViewBag.Title = "Edit";
}
<h2>@Model.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="btn-group" role="group">
                @Ajax.RawActionLink(
                    "<span class=\"btn btn-default\">" + Model.StateAction + "</span>",
                    Model.StateAction,
                    "Cases",
                    new { id = Model.ID },
                    new AjaxOptions
                    {
                        OnBegin = "showSpinner",
                        OnComplete = "hideSpinner",
                        OnSuccess = "onCaseChangeStateSuccess",
                        HttpMethod = "POST"
                    }, new { id = "ChangeStateLink" })
            </div>
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.Description)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.Description)</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.Attachments)</div>
                <div class="panel-body">
                    <div class="container" id="attachments">
                        @foreach (var attachment in Model.Attachments)
                        {
                            Html.RenderPartial("_EditAttachmentPartial", attachment);
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.CreatedAt)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.CreatedAt)</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.UpdatedAt)</div>
                <div class="panel-body" id="UpdatedAt">@Html.DisplayFor(model => model.UpdatedAt)</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.State)</div>
                <div class="panel-body" id="State">@Html.DisplayFor(model => model.State)</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">@Html.LabelFor(model => model.Assignee)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.Assignee)</div>
            </div>
            <div id="plupload_container" class="panel panel-default">
                <div class="panel-heading"><a id="pickfiles" href="javascript:;" class="btn btn-primary">@Resources.UploadAttachments</a></div>
                <div class="panel-body">
                    <span id="filelist"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/plupload")

    <script type="text/javascript">

        var uploader = new plupload.Uploader({
            runtimes: 'html5, html4',
            browse_button: 'pickfiles',
            container: $('#plupload_container')[0],
            url: "@Url.Action("AddFile", "Cases", new { id = Model.ID })",

            filters: {
                max_file_size: '10mb',
            },

            init: {
                PostInit: function () {
                    $('#filelist').html('');
                },

                UploadProgress: function (up, file) {
                    $('#' + file.id + ' > b#percent').html(file.percent + "%");
                },

                FileUpLoaded: function (up, file, info) {
                    var response = $.parseJSON(info.response);

                    if (response.success)
                    {
                        $("#attachments").append(response.attachmentRow);
                        $('#UpdatedAt').text(response.updatedAt);
                        $('#' + file.id + ' > span#result').html('<i style="color: Green;" class="glyphicon glyphicon-ok"></i>');
                    }
                    else
                    {
                        $('#' + file.id + ' > span#result').html('<i style="color: Red;" class="glyphicon glyphicon-remove" title="' + response.error + '"></i>');
                    }
            
                },

                Error: function (up, err) {
                    alert(err.code + ": " + err.message);
                }
            }
        });

        uploader.init();

        uploader.bind("FilesAdded", function (up, files) {
            plupload.each(files, function (file) {
                $('#filelist').append('<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b id="percent">0%</b> <span id="result"></span></div>');
            });

            up.refresh();
            up.start();
        });

        function onAttachmentDeleteSuccess(response)
        {
            if (response.success)
            {
                var id = "#attachment_" + response.id;
                $(id).remove();
                $('#UpdatedAt').text(response.updatedAt);
            }
            else {
                alert(response.error);
            }
        }

        function onCaseChangeStateSuccess(response) {
            if (response.success) {
                $('#UpdatedAt').text(response.updatedAt);
                $('#State').text(response.state);
                $('#ChangeStateLink').replaceWith(response.actionLink);
            }
            else {
                alert(response.error);
            }
        }
    </script>
}
