@model IEnumerable<uHome.Models.ListDownloadItemViewModel>

@{
    ViewBag.Title = "Download Items";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.RawActionLink(
    "<span class=\"glyphicon glyphicon-plus\"></span> Add",
    "Create", null, null, new { @class = "btn btn-success" })
</p>

@Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="DownloadItem_@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <span class="glyphicon glyphicon-info-sign" title="@item.Description"></span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink(item.FileName, "Download", null, new { id = item.ID }, null)
        </td>
        <td>
            @Ajax.RawActionLink(
                "<span class=\"glyphicon glyphicon-trash\"></span> Delete",
                "Delete",
                "DownloadItems",
                new { id = item.ID },
                new AjaxOptions
                {
                    Confirm = string.Format("Are you sure you want to delete {0}?", item.Name),
                    OnBegin = "showSpinner",
                    OnComplete = "hideSpinner",
                    OnSuccess = "onDownloadItemDeleteSuccess",
                    HttpMethod = "DELETE"
                },
                new { @class = "btn btn-danger" }
            )
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript">
        function onDownloadItemDeleteSuccess(response) {
            $('#DownloadItem_' + response.Id).remove();
        }
    </script>
}
