@model IEnumerable<uHome.Models.VideoClip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@item.Path"></iframe>
            </div>
        </td>
        <td>
            <p><strong>@item.Name</strong></p>
            <p>@item.Description</p>
            <p><small>by @item.UploadedBy.Email<br />@item.UploadedAt</small></p>
</td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
