@model IEnumerable<uHome.Models.VideoClip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td class="col-md-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@item.Path"></iframe>
            </div>
        </td>
        <td class="col-md4">
            <p><strong>@item.Name</strong></p>
            <p>@item.Description</p>
            <p><small>by @item.UploadedBy.Email<br />@item.UploadedAt</small></p>
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td class ="col-md2">
                <div class="btn-group-xs">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </div>
            </td>
        }
    </tr>
}

</table>
